@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 12 10% 11%;

    --muted: 12 40% 92%;
    --muted-foreground: 12 8% 42%;

    --popover: 0 0% 95%;
    --popover-foreground: 12 10% 11%;

    --card: 0 0% 95%;
    --card-foreground: 12 10% 11%;

    --border: 12 10% 80%;
    --input: 12 10% 80%;

    --primary: 12 10% 11%;
    --primary-foreground: 12 40% 98%;

    --secondary: 12 40% 90%;
    --secondary-foreground: 12 10% 11%;

    --accent: 12 40% 90%;
    --accent-foreground: 12 10% 11%;

    --destructive: 0 100% 35%;
    --destructive-foreground: 12 40% 98%;

    --ring: 12 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 12 50% 87%;

    --muted: 12 35% 5%;
    --muted-foreground: 12 8% 42%;

    --popover: 0 0% 0%;
    --popover-foreground: 12 50% 87%;

    --card: 0 0% 0%;
    --card-foreground: 12 50% 87%;

    --border: 12 20% 15%;
    --input: 12 20% 15%;

    --primary: 12 50% 87%;
    --primary-foreground: 12 50% 5%;

    --secondary: 12 34% 17%;
    --secondary-foreground: 12 50% 87%;

    --accent: 12 34% 17%;
    --accent-foreground: 12 50% 87%;

    --destructive: 0 63% 20%;
    --destructive-foreground: 12 50% 87%;

    --ring: 12 34% 12%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
